.titulo {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--cinza);
  text-align: center;
  margin: 2rem 0;
}

.logo__formulario {
  margin-top: 1.5rem;
}

.formulario__paciente {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.formulario__container > *:first-child {
  flex: 0 0 30%;
}

.formulario__container > *:last-child {
  flex: 1;
}
