button {
  border-radius: 8px;
  padding: 12px 16px;

  margin-top: 1em;
  font-weight: 700;
  line-height: 19px;
  width: 50%;
  cursor: pointer;
}

.primario {
  background-color: var(--azul-escuro);
  color: var(--branco);
  border: none;
}

.secundario {
  background-color: var(--branco);
  color: var(--azul-escuro);
  border: 2px solid var(--azul-escuro);
}
