input {
  background: #f0f0f0;
  box-sizing: border-box;
  margin: 0.5em 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

input::placeholder {
  color: rgba(107, 110, 113, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--azul-escuro);
}

div {
  width: 100%;
}

.mensagem-erro {
  color: #a71e1e;
  font-size: 14px;
  font-weight: 600;
}

.campo__digitacao--container {
  margin: 0.25em 0;
}

.campo__digitacao--erro {
  border: 1px solid #a71e1e;
}

.campo__digitacao--erro:focus {
  border: 1px solid #a71e1e;
  outline-color: #a71e1e  ;
}
